In [1]:
import os 
os.getcwd()

'/USER/3_WEEK/MNC_NLP/comment_baseline'

In [2]:
import numpy as np
import pandas as pd

In [7]:
df_label = pd.read_csv("../train/Dataset.csv", sep="\t")
df_label

                                                content  lable
0     이종석 한효주 나오는 드라마 이후로 드라마 안봤다. 2년전인가?? 좀 신선했었지. ...    0.0
1                       씨바알..노무노무 술프노... 오늘 저녁은 꽂등심이다ㅠㅜ    0.0
2                                              짱깨 꺼라ㅡ패쓰    0.0
3     그들의 사생활 ~ 고인이된 설리를 위해서라도 모두 조용하길 지금 누굴 탓한다고 무슨...    1.0
4     아무리 법이 뭣같아도 무슨 자격으로 개인의 신상정보를 불특정 다수에게 공개하는지 도...    1.0
...                                                 ...    ...
9995                      이거 보다 더한 막장의 드라마도 넋놓고 보면서 무슨?    1.0
9996                                  머...제네시스..올라프에디션?    1.0
9997                        항상 여자로 ㅡ ㅡ 저지랄 들이야 남자들 벗겨봐라    0.0
9998  첫번째 이유가 ㄹㅇ 맞지특히나 뉴스나 기사 몇줄읽은 학생들끼리 대화해도 서로 존나 ...    0.0
9999                     Lg폰 누가쓰냐 gps도 못잡는폰 쓰래기 통에나 버려라    0.0

[10000 rows x 2 columns]

In [15]:
label = list(df_label.content)

In [8]:
df_label.lable.value_counts()
# 0이 부정
# 1이 긍정

1.0    4992
0.0    4983
Name: lable, dtype: int64

In [9]:
df_test = pd.read_csv("../test/test.csv")
df_test

,ID,title,comment
0,0,"류현경♥︎박성훈, 공개연애 4년차 애정전선 이상無..""의지 많이 된다""[종합]",둘다 넘 좋다~행복하세요
1,1,"""현금 유도+1인 1라면?""…'골목식당' 백종원, 초심 잃은 도시락집에 '경악' [종합]",근데 만원이하는 현금결제만 하라고 써놓은집 우리나라에 엄청 많은데
2,2,"입대 D-11' 서은광의 슬픈 멜로디..비투비, 눈물의 첫 체조경기장[콘서트 종합]",누군데 얘네?
3,3,"아이콘택트' 리쌍 길, 3년 전 결혼설 부인한 이유 공개…""결혼,출산 숨겼다""","쑈 하지마라 짜식아!음주 1번은 실수, 2번은 고의, 3번은 인간쓰레기다.슬금슬금 ..."
4,4,"구하라, 안검하수 반박 해프닝...""당당하다""vs""그렇게까지"" 설전 [종합]",안검하수 가지고 있는 분께 희망을 주고 싶은건가요? 수술하면 이렇게 자연스러워진다고...
...,...,...,...
506,506,"[N이슈] 최율, 조재현 성추행 의혹 폭로… 소속사 ""상황 파악 중""",얜 그냥 봐도 아니다 ㅋ 고소당하면 어마어마한 금액 물어줘야할껄?
507,507,"해투4' 이서진, 한지민 '대본 리딩 격리설' 해명…""날씨가 좋아서"" [SC컷]",대박 게스트... 꼭 봐야징~ 컨셉이 바뀌니깐 재미지넹
508,508,"[SS인터뷰①]박민영 ""'김비서' 행복했다..열애설엔 당당..미소였으니까""",성형으로 다 뜯어고쳐놓고 예쁜척. 성형 전 니 얼굴 다 알고있다. 순자처럼 된장냄새...
509,509,"[POP이슈]""사실무근"" 'SKY캐슬' 측 '위올라이' 표절설 부인→여전히 '핫'(종합)",분위기는 비슷하다만 전혀다른 전개던데 무슨ㅋㅋㄱ 우리나라사람들은 분위기만 비슷하면 ...
510,510,"오창석♥' 이채은, 웨딩사진?...순백의 드레스 입고 '활짝'",입에 손가릭이 10개 있으니 징그럽다

In [16]:
comment = list(df_test.comment)
result = list()

In [20]:
for i in range(len(comment)):
    for j in range(len(label)):
        if comment[i] == label[j]:
            result.append(df_label.lable[j])

result

[]

# 하나도 같은게 없다

In [21]:
df_label = pd.read_csv("../train.tsv")
df_label

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 3